.btn {
  cursor: pointer;
  padding: $button-padding-x $button-padding-y;
  color: $primary-color;
  background-color: $body-bg;
  border: 1px solid $primary-color;
  border-radius: $border-radius;

  &:hover {
    color: $white;
    border-color: transparent;
    background-color: $primary-color;
  }

  &:focus{
    outline: none;
  }
}