.header{
  border-bottom:1px solid $border-color;
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px 60px;

  h1{
    font-size: 50px;

  }

  nav{
    >ul{
      display: flex;
      >li {
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
        border-radius: $border-radius;
        .login{
          @extend .btn;
          @include btn-variant($button-padding-x,$button-padding-y,$primary-color,$body-bg,$primary-color,$white,$primary-color,transparent);

        }
        .register{
          @extend .btn;
          @include btn-variant($button-padding-x,$button-padding-y,$white,$primary-color,transparent,$primary-color,$body-bg,$primary-color)
        }
      }
    }
  }
}
