@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin btn-variant($button-padding-x,$button-padding-y,$color,$bg-color,$border-color,$hover-color,$hoverbg-color,$h-border-color) {
  padding: $button-padding-x $button-padding-y;
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;

  &:hover {
    color: $hover-color;
    background-color: $hoverbg-color;
    border-color: $h-border-color;
  }
}
