.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h1{
    padding: $padding 30px;
  }

  form{
    padding: $padding $padding;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-self: flex-start;

    label{
      padding-top: $padding;
    }
    input[type=text] {
      width: 100%;
      padding: 12px $padding;
      margin: 8px 0;
      background-color:$body-bg;
      border-style:none;
      border-bottom:1px solid $border-color;
      color: $white;
      font-size: inherit;

      &:focus{
        outline: none;
        background-color:$body-bg;
      }
    }
  }

  a{
    align-self: flex-start;
    padding: $padding $padding;
    width: 100%;
    color: $primary-color;
    &:hover{
      color: $link-hover-color;
    }
  }

  div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px $padding;

    .login{
      padding: 20px $padding;
      @extend .btn;
      @include btn-variant($containerbutton-padding-x,$containerbutton-padding-y,$primary-color,$body-bg,$primary-color,$white,$primary-color,transparent);

    }
    .register{
      padding: 20px $padding;
      @extend .btn;
      @include btn-variant($containerbutton-padding-x,$containerbutton-padding-y,$white,$primary-color,transparent,$primary-color,$body-bg,$primary-color)
    }

  }
}